<!DOCTYPE html>
<html lang="en" ng-app="maxcntrl">
<head>
  <title>Angular Practice</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navabar-header">
				<a class="navbar-brand" href="#">Simple Form</a>
			</div>
		</div>
	</nav>

	<div class="container main-content" ng-controller="jamie1">
		<form>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text"
				class="form-control"
				ng-model="formModel.name"
				id="name" />
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email"
				class="form-control"
				ng-model="formModel.email"
				id="email" />
			</div>
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text"
				class="form-control"
				ng-model="formModel.username"
				id="username" />
			</div>
			<div class="form-group">
				<label for="sex">Sex</label>
				<select name="sex"
					id="sex"
					class="form-control"
					ng-model="formModel.sex" >
					<option value="">Choose Option</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password"
				class="form-control"
				ng-model="formModel.password"
				id="password" />
			</div>
			<div class="form-group" ng-click="onSubmit()">
				<button class="btn btn-primary">Sign In</button>
			</div>

		</form>
		<pre>{{ formModel | json }}</pre>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="root">
					<label>
						<input type="text"
						ng-model="name" />
					</label>
					<p>{{ name }}</p>

					<div class="row">
						<div class="">
							<div class="parent" ng-controller="Kacy">
								<label>
								<input type="text" ng-model="name" />
								</label>
								<p>{{ name }}</p>

								<div class="child" ng-controller="Eden">
									<label>
									<input type="text" ng-model="name" />
									</label>
									<button class="btn" ng-click="reset()">Reset</button>
									<p>{{ name }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	


	
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="../index.js"></script>
	<script src="js/bundle.js"></script>
</body>
</html>
